<%- include('partials/header') %>

<section class="full">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6">
        <h1 class="wordmark mb-4">
          <i class="fa-brands fa-twitter" style="color: #74c0fc"></i>
          <span class="logo">twitter</span>
        </h1>
        <h5 class="text-center">
          Hey There!
          <br>
          How you doing today?
        </h5>
        <div class="row mt-4">
            <div class="col-3"></div>
          <div class="col-3 d-flex   justify-content-center ">
            <a href="/login" type="button" class="btn btn-primary">Login</a>
          </div>
          <div class="col-3 d-flex   justify-content-center">
            <a href="/register" type="button" class="btn btn-outline-primary">Register</a>
        
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('partials/footer') %>
