<%- include('partials/header') %>

<section class="tweets-section p-5">
 <div class="container">
 <div class="row">
 <div class="col-8">
 <div class="card" style="width: 18rem">
<img
 src="https://image.shutterstock.com/image-photo/mesmerizing-3d-abstract-multicolor-visualization-260nw-2308145127.jpg"
 class="card-img-top"
 alt="..."
 />
 <div class="card-body">
 <p class="card-text mb-1">Welcome!</p>
 <h2 class="card-title">John Doe</h2>
 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
 </div>
 </div>
 </div>
 <div class="col-8">
    <input type="text" class="form-control" id="inputEmail4" name="name">
     </div>    
     <div class="col-md-7">
    <label for="inputEmail4" class="form-label"><i class="fa-solid fa-envelope"></i> Email </i></label>
     <input type="email" class="form-control" id="inputEmail4" name="email">
     </div>    
     <div class="col-md-7">
    <label for="inputPassword4" class="form-label"><i class="fa-solid fa-key"></i> Password </i></label>
     <input type="password" class="form-control" id="inputPassword4" name="password">
    </div>  
     <div class="col-7 d-flex justify-content-end">
     <button type="submit" class="btn btn-primary">Register</button>
     </div>
     </form>
 <form class="row g-3 justify-content-center">
 <div class="col-md-12">
 <textarea
 class="form-control"
id="exampleFormControlTextarea1"
 rows="3"
 placeholder="What would you like to share today?"
 ></textarea>
</div>


 <div class="col-12 d-flex justify-content-end">
 <button type="submit" class="btn btn-primary">Share</button>
 </div>
 </form>
 <div class="card mb-4">
 <div class="card-body">
 <h5 class="card-title">John Doe</h5> 
 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

 </div>
 </div>
 <div class="card mb-4">
 <div class="card-body">
 <h5 class="card-title">John Doe</h5>  
 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
 
 </div>
 </div>
 <div class="card mb-4">
 <div class="card-body">
 <h5 class="card-title">John Doe</h5> 
 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

 </div>
 </div>
 <div class="card mb-4">
 <div class="card-body">
 <h5 class="card-title">John Doe</h5> 
 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
 </div>
 </div>
 <div class="card mb-4">
 <div class="card-body">
 <h5 class="card-title">John Doe</h5> 
 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
 </div>
 </div>
 <div class="card mb-4">
 <div class="card-body">
<h5 class="card-title">John Doe</h5>  
 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

</div>
 </div>
 <div class="card mb-4">
 <div class="card-body">
 <h5 class="card-title">John Doe</h5> 
 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

 </div>
 </div>
 <div class="card mb-4">
 <div class="card-body">
 <h5 class="card-title">John Doe</h5>
 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

 </div>
 </div>

<div class="mt-5"></div>
<div class="card mb-4">
 <div class="card-body">
 <h5 class="card-title">John Doe</h5> 
 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

 </div>
 </div>
 </div>
</div>
</div>
</section>

<%- include('partials/footer') %>
